In [1]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
display(data)

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [2]:
data.loc[["Первый", "Третий"]]

Первый    Январь
Третий      Март
dtype: object

In [3]:
data.iloc[[0, 2]]

Первый    Январь
Третий      Март
dtype: object

In [4]:
data = pd.Series(list(range(10, 1001)))
print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])

-70

In [7]:
data = pd.Series(list(range(10, 1001)))
print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])

-70

In [10]:
data = pd.Series(list(range(10, 1001)))
data.iloc[990]

1000

In [11]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
display(df)

   col1  col2
0     1     3
1     2     4

In [12]:
df = pd.DataFrame([ [1,2,3], [2,3,4] ],
                  columns = ['foo', 'bar', 'baz'], 
                  index = ['foobar', 'foobaz'])
display(df)

        foo  bar  baz
foobar    1    2    3
foobaz    2    3    4

In [13]:
df = pd.DataFrame({'year': [2001, 2002, 2003], 'level': ['first level', 'second level', 'third level']})
display(df)

   year         level
0  2001   first level
1  2002  second level
2  2003   third level

In [24]:
df = pd.DataFrame(['2001', 'first', 'A'], ['2002', 'second', 'B'], ['2003', 'third', 'A'],
                 columns = ['year', 'level', 'grade'],
                 index = ['result-2001', 'result-2002', 'result-2003'])
display(df)

TypeError: __init__() got multiple values for argument 'columns'

In [26]:
df = pd.DataFrame('Тестовая колонка', index = [1,5])
disply(df)

ValueError: DataFrame constructor not properly called!

In [27]:
pd.DataFrame({'Тестовая колонка':[1,5]})

   Тестовая колонка
0                 1
1                 5

In [33]:
pd.read_csv('data_sf.csv')

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [35]:
import pandas as pd

football = pd.read_csv('data_sf.csv')
display(football.head())

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

In [36]:
import pandas as pd

football = pd.read_csv('data_sf.csv')
display(football.tail(7))

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
12890,13119,J. Young,18,Scotland,Swindon Town,450000,1000,ST,28,47,...,58,50,15,17,14,11,15,12,12,11
12891,13120,D. Walsh,18,Republic of Ireland,Waterford FC,60000,1000,RB,22,23,...,38,43,44,47,53,9,10,9,11,13
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [37]:
import pandas as pd

football = pd.read_csv('data_sf.csv')
display(football.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [38]:
import pandas as pd

football = pd.read_csv('data_sf.csv')
football.describe()

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [39]:
import pandas as pd

football = pd.read_csv('data_sf.csv')
football.describe(include = ['object'])

                Name Nationality             Club Position
count          12897       12897            12897    12897
unique         12326         156              650       27
top     J. Rodríguez     England  Shonan Bellmare       GK
freq               9        1368               30     1641

In [40]:
df = pd.DataFrame([[i,i+1.2,i+2, 'hi'] for i in range(10)],
                  columns = ['foo', 'bar', 'baz', 'foobar'])
df.mean()

foo    4.5
bar    5.7
baz    6.5
dtype: float64

In [41]:
df = pd.DataFrame([[i,i+1.2,i+2, 'hi'] for i in range(10)],
                  columns = ['foo', 'bar', 'baz', 'foobar'])
df.bar.mean()

5.7

In [44]:
import pandas as pd #Чему равен средний возраст (Age), футболистов в наборе данных, округлённый до целого?

df = pd.read_csv('data_sf.csv')
df.Age.mean()

24.795378770256647

In [45]:
import pandas as pd #Каково количество непустых строк в колонке Composure (Хладнокровие) набора данных о футболистах?

df = pd.read_csv('data_sf.csv')
df.Composure.count()

12897

In [46]:
import pandas as pd #Каково в наборе данных о футболистах стандартное отклонение параметра коротких пасов (ShortPassing), округлённое до второго знака после запятой?

df = pd.read_csv('data_sf.csv')
df.ShortPassing.std()

14.740435689517149

In [47]:
import pandas as pd #Какова сумма заработных плат за год (Wage) в наборе данных о футболистах?

df = pd.read_csv('data_sf.csv')
df.Wage.sum()

96954000

In [49]:
import pandas as pd #Какова минимальная стоимость футболиста (Value) в наборе данных о футболистах?

df = pd.read_csv('data_sf.csv')
df.Value.min()

0

In [51]:
import pandas as pd #возраст старше 20 лет
football = pd.read_csv('data_sf.csv')

football[football.Age > 20]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12838,13067,D. Mackay,21,Scotland,Kilmarnock,30000,1000,GK,14,20,...,24,30,12,18,18,48,50,47,48,48
12857,13086,Wu Lei,21,China PR,Tianjin Quanjian FC,9000000,2000,LDM,52,29,...,46,39,52,40,49,8,15,11,8,5
12861,13090,Y. Uchimura,33,Japan,Hokkaido Consadole Sapporo,20000,1000,CAM,51,31,...,33,62,45,48,42,13,15,7,15,15
12870,13099,M. Hurst,22,Scotland,St. Johnstone FC,40000,1000,GK,19,15,...,29,28,12,15,16,45,49,50,50,45
12873,13102,K. Pilkington,44,England,Cambridge United,0,1000,GK,11,12,...,22,56,15,15,13,45,48,44,49,46

In [53]:
import pandas as pd #возраст старше среднего
football = pd.read_csv('data_sf.csv')

football[football.Age > football.Age.mean()]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12746,12975,Teng Shangkun,27,China PR,Tianjin TEDA FC,20000,1000,GK,10,8,...,17,58,28,10,13,46,56,55,45,53
12749,12978,M. Mansour,26,Saudi Arabia,Al Batin,30000,2000,LB,36,18,...,33,37,45,54,54,10,8,6,13,13
12767,12996,Sun Qibin,26,China PR,Tianjin Quanjian FC,20000,2000,GK,14,7,...,12,30,46,11,10,50,46,51,48,50
12861,13090,Y. Uchimura,33,Japan,Hokkaido Consadole Sapporo,20000,1000,CAM,51,31,...,33,62,45,48,42,13,15,7,15,15
12873,13102,K. Pilkington,44,England,Cambridge United,0,1000,GK,11,12,...,22,56,15,15,13,45,48,44,49,46

In [54]:
import pandas as pd #возраст старше среднего ИЛИ игроки клуба FC Barcelona
football = pd.read_csv('data_sf.csv')

football[(football.Age < football.Age.mean())|
        (football.Club == 'FC Barcelona')]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
7,7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS,77,93,...,85,85,62,45,38,27,25,31,33,37
15,15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF,82,84,...,86,84,23,20,20,5,4,4,5,8
16,16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST,75,94,...,90,89,56,36,38,8,10,11,14,11
18,18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK,15,14,...,25,69,25,13,10,87,85,88,85,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [55]:
import pandas as pd #футболисты: средняя зарплата всех, чей возраст старше среднего И только игроков клуба FC Barcelona
football = pd.read_csv('data_sf.csv')

football[(football.Age < football.Age.mean())&
        (football.Club == 'FC Barcelona')].Wage.mean()

77454.54545454546

In [61]:
import pandas as pd #средняя скорость (SprintSpeed) футболистов, зарплата (Wage) которых выше среднего? 
football = pd.read_csv('data_sf.csv')

football[football.Wage > football.Wage.mean()].SprintSpeed.mean()

67.56638061585058

In [62]:
import pandas as pd #средняя скорость (SprintSpeed) футболистов, зарплата (Wage) которых ниже среднего? 
football = pd.read_csv('data_sf.csv')

football[football.Wage < football.Wage.mean()].SprintSpeed.mean()

62.41425430560645

In [111]:
import pandas as pd #Какую позицию (Position) занимает футболист с самой высокой зарплатой (Wage)? 
football = pd.read_csv('data_sf.csv')

football.Position[football.Wage == football.Wage.max()]

0    RF
Name: Position, dtype: object

In [73]:
import pandas as pd #сколько пенальти забили бразильцы
football = pd.read_csv('data_sf.csv')

football[football.Nationality == 'Brazil'].Penalties.sum()

22789

In [81]:
import pandas as pd #Укажите средний возраст (Age) игроков, у которых точность удара головой (HeadingAccuracy) > 50. 
football = pd.read_csv('data_sf.csv')

football[football.HeadingAccuracy > 50].Age.mean()

25.58771113179944

In [82]:
import pandas as pd #Укажите  возраст (Age) самого молодого игрока, у которого хладнокровие (Composure) и реакция (Reactions) превышают 90% от максимального значения, представленного в датасете.
football = pd.read_csv('data_sf.csv')

football[(football.Composure > football.Composure.max() * 0.9) & (football.Reactions >football.Reactions.max() * 0.9)].Age.min()

24

In [136]:
import pandas as pd #насколько средняя реакция (Reactions) самых взрослых игроков (т.е. игроков, чей возраст (Age) равен максимальному) больше средней реакции самых молодых игроков
football = pd.read_csv('data_sf.csv')

football[(football[football.Age == football.Age.max()].Reactions.mean()) - (football[football.Age == football.Age.min()].Reactions.mean())

SyntaxError: unexpected EOF while parsing (<ipython-input-136-b9240e297483>, line 4)

In [117]:
import pandas as pd #Из какой страны (Nationality) происходит больше всего игроков, чья стоимость (Value) превышает среднее значение?
football = pd.read_csv('data_sf.csv')

football.Nationality[football.Value > football.Value.mean()].value_counts()

Spain                 211
Brazil                130
France                123
Argentina             122
England               113
                     ...
Dominican Republic      1
Cyprus                  1
Bulgaria                1
Estonia                 1
Hungary                 1
Name: Nationality, Length: 98, dtype: int64

In [146]:
import pandas as pd 
'''во сколько раз средняя зарплата (Wage) голкипера (Position, GK) с максимальным значением показателя " Рефлексы" (GKReflexes) 
выше средней зарплаты голкипера с максимальным значением показателя "Владение мячом" (GKHandling). 
Ответ округлите до сотых.'''
football = pd.read_csv('data_sf.csv')

#football[(football.Position == 'GK')&(football.GKReflexes == football.GKReflexes.max())].Wage.mean() 
#football[(football.GKHandling == football.GKHandling.max())].Wages.mean()
football[(football.Position == 'GK')&(football.GKReflexes == football.GKReflexes.max())].Wage.mean()
football[(football.Position == 'GK')&(football.GKHandling == football.GKHandling.max())].Wage.mean()

94000.0

In [152]:
import pandas as pd 
'''во сколько раз средняя сила удара (ShotPower) самых агрессивных игроков (игроков с максимальным значением 
показателя "Агрессивность" (Aggression)) выше средней силы удара игроков с минимальной агрессией.'''
football = pd.read_csv('data_sf.csv')

football[football.Aggression == football.Aggression.max()].ShotPower.mean()
football[football.Aggression == football.Aggression.min()].ShotPower.mean()

30.333333333333332

In [154]:
import pandas as pd 
'''насколько средняя реакция (Reactions) самых взрослых игроков (т.е. игроков, чей возраст (Age) равен максимальному) 
больше средней реакции самых молодых игроков. '''
football = pd.read_csv('data_sf.csv')

#football[football.Age == football.Age.max()].Reactions.mean()
football[football.Age == football.Age.min()].Reactions.mean()

49.357142857142854

In [1]:
import pandas as pd 
'''во сколько раз средняя зарплата (Wage) голкипера (Position, GK) с максимальным значением показателя " Рефлексы" (GKReflexes) 
выше средней зарплаты голкипера с максимальным значением показателя "Владение мячом" (GKHandling). 
Ответ округлите до сотых.'''
football = pd.read_csv('data_sf.csv')

#football[(football.Position == 'GK')&(football.GKReflexes == football.GKReflexes.max())].Wage.mean() 
#football[(football.GKHandling == football.GKHandling.max())].Wages.mean()
football[(football.Position == 'GK')&(football.GKReflexes == football.GKReflexes.max())].Wage.mean()
football[(football.Position == 'GK')&(football.GKHandling == football.GKHandling.max())].Wage.mean()

football[(football.Position == 'GK')&(football.GKReflexes == football.GKReflexes.max())].Wage.mean() / football[(football.Position == 'GK')&(football.GKHandling == football.GKHandling.max())].Wage.mean()

2.765957446808511

In [2]:
import pandas as pd 
'''во сколько раз средняя сила удара (ShotPower) самых агрессивных игроков (игроков с максимальным значением 
показателя "Агрессивность" (Aggression)) выше средней силы удара игроков с минимальной агрессией.'''
football = pd.read_csv('data_sf.csv')

football[football.Aggression == football.Aggression.max()].ShotPower.mean() / football[football.Aggression == football.Aggression.min()].ShotPower.mean()

2.076923076923077

In [1]:
import pandas as pd 
'''насколько средняя реакция (Reactions) самых взрослых игроков (т.е. игроков, чей возраст (Age) равен максимальному) 
больше средней реакции самых молодых игроков. '''
football = pd.read_csv('data_sf.csv')

football[football.Age == football.Age.max()].Reactions.mean() - football[football.Age == football.Age.min()].Reactions.mean()

22.642857142857146

In [3]:
football['Club'].value_counts()

Shonan Bellmare      30
V-Varen Nagasaki     30
FC Emmen             29
De Graafschap        29
Padova               29
                     ..
Dijon FCO             8
Dinamo Zagreb         7
Vitória Guimarães     7
GD Chaves             7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [5]:
s.index[0,1]

NameError: name 's' is not defined